/*
light blue - #9ed0de
darkish blue - #4a8aa7
dark blue - #065d86
light blue highlight - #0484c1
*/
.projectContainer{
  display:inline-grid;
  grid-template-columns: auto auto;
  padding: 5px;
}
.project {
  background-color: #9ed0de;
  color: black;
  border: 2px solid black;
  margin:auto;
  min-width: 450px;
  font-size: 1em;
  font-weight:normal;
  text-align: center;
  margin-bottom: inherit;
  width: auto;
  height:auto;
margin: 5px;
}
.base{
  background-color: #9ed0de;
  color: black;
  border: 1px solid black;
  margin:auto;
  min-width: 400px;
  font-size: 1em;
  font-weight:normal;
  text-align: center;
}
.body {
  font-size: 1em;
  font-weight:normal;
  text-align: left;
  min-width: 380px;
  font-family: sans-serif;
  width: 95%;
  margin: auto;
}

.sec {
  text-align: center;
  margin: auto;
  width: 90%;
}
.footer{
  text-align: center;
  font-size: 1em;
  font-family: sans-serif;
}

.secheader{
  width: 100%;
margin-bottom: 10px;
min-width: 400px;

}
.secheadertext{
  font-size: 2em;
  color: white;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-family: sans-serif;
  font-weight: 400;
  background-color: #065d86;
  justify-content:center;
}

.img{
  border-radius: 50%;
  width: 25vw;
  height: auto;
  border: 1px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
}
.logoSmall{
  border-radius: 50%;
  width: 7%;
  height: 70%;
  border: 1px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  min-width: 64px;

  margin: auto;
  margin-left: 7px;
  margin-right: 7px;
}
.logoLarge{
  border-radius: 50%;
  width: auto;
  height: 80%;
  border: 1px solid black;
  border-right: 6px solid black;
  border-bottom: 6px solid black;
}

/*For links and urls */
.link:link{
  color: blue;
  font-size: 100%;
}

.link:hover{
  color: green;
}
.link:visited{
  color: midnightblue;
}
.link:active{
  color: green;
}




/*NAVBAR*/
.navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  background-color: #065d86;
  width: 100%;
  min-width: 400px;

}
/*NAVBAR text*/
.navbarItem{
  display: block;
  background-color: inherit;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1.2em;
}
/*NAVBAR block*/
.navbarBlock{
  float: right;
  background-color: inherit;
  transition: 0.3s;
}
/*Navbar hover effect*/
.navbarBlock:hover{
  background-color: #0484c1;
}
.navbarBlockActive{
  display: inline-flex;
  vertical-align: top;
  background-color: inherit;
  background-color: #0484c1;
  max-width: 20%;
}
/*END navbar*/


/* Link block button - animated */
/* Base button */
.linkButton{
  margin: auto;
  padding: 0;
  text-align: center;
  background-color: #065d86;
  display:grid;
  cursor: pointer;
  margin: auto;
  margin-bottom: 16px;
  padding: 20px;
  width: 240px;
  height: auto;
  transition: all 0.5s;
  border:none;
  border-radius: 10px;
}
/*Hover color change*/
.linkButton:hover{
  background-color: #0484c1;
}
/*Button animation with text*/
.linkButton:hover span{
  padding-right: 30px;
  content: 'test';
}
.linkButton span{
  font-size: 1.6em;
  color: white;
  cursor: pointer;
 display: inline-block;
 position: relative;
 transition: 0.5s;
}
.linkButton span::after{
 content: '\00bb';
 position: absolute;
 opacity: 0;
 top: 0;
 right: -20px;
 transition: 0.5s;
}
.linkButton:hover span::after {
  opacity: 1;
  right: 0;
}
/*End Link Button */

/* Resume block button - animated */
/* Base button */
.resumeButton{
  margin: auto;
  padding: 0;
  text-align: center;
  background-color: #065d86;
  display:grid;
  cursor: pointer;
  margin: auto;
  margin-bottom: 16px;
  margin-top: 16px;
  padding: 20px;
  width: 320px;
  height: auto;
  transition: all 0.5s;
  border:none;
  border-radius: 10px;
}
/*Hover color change*/
.resumeButton:hover{
  background-color: #0484c1;
}
/*Button animation with text*/
.resumeButton:hover span{
  padding-right: 30px;
  content: 'test';
}
.resumeButton span{
  font-size: 1.6em;
  color: white;
  cursor: pointer;
 display: inline-block;
 position: relative;
 transition: 0.5s;
}
.resumeButton span::after{
 content: '\00ab';
 position: absolute;
 opacity: 0;
 top: 0;
 right: -20px;
 transition: 0.5s;
}
.resumeButton:hover span::after {
  opacity: 1;
  right: 0;
}
/*End Resume Button */

/* smallLinkButton block button - animated */
/* Base button */
.smallLinkButton{
  margin: auto;
  padding: 0;
  text-align: center;
  background-color: #065d86;
  display:inline;
  cursor: pointer;
  margin: auto;
  margin-bottom: 16px;
  margin-top: 16px;
  padding: 20px;
  width: 160px;
  height: auto;
  transition: all 0.3s;
  border:none;
  border-radius: 10px;
}
/*Hover color change*/
.smallLinkButton:hover{
  background-color: #0484c1;
}
/*Button animation with text*/
.smallLinkButton:hover span{
  padding-right: 30px;
  content: 'test';
}
.smallLinkButton span{
  font-size: 1.4em;
  color: white;
  cursor: pointer;
 display: inline-block;
 position: relative;
 transition: 0.3s;
}
.smallLinkButton span::after{
 content: '\00bb';
 position: absolute;
 opacity: 0;
 top: 0;
 right: -20px;
 transition: 0.5s;
}
.smallLinkButton:hover span::after {
  opacity: 1;
  right: 0;
}
/*End smallLinkButton Button */

/* Image Sliding Carrosel*/
.slider {
  width: 80%;
  min-width: 400px;
  height: auto;
  min-height: 400px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  margin:auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;


}
.slide > div {
scroll-snap-align: start;
}
.slide {
  width: 400px;
  flex-shrink: 0;
  height: auto;
  background-color: #4a8aa7;
  margin: 12px;
  border: 2px solid black;
  border-radius: 5%;
  scroll-behavior: smooth;
  transition: all 0.4s;

}
.slideItem {
  width: 90%;
  height: auto;
  border: 1px solid black;
  border-radius: 25%;
}
.slideItemHeader {
  color: white;
  text-align: center;
  font-size: 2em;
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: sans-serif;
}
.slideItemDesc {
  color: white;
  text-align: center;
  font-size: 1.35em;
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: sans-serif;
}
.slide:hover{
  transform: scale(1.05);
}
/* Image Sliding Carrosel*/
