/*
light blue - #9ed0de
darkish blue - #4a8aa7
dark blue - #065d86
light blue highlight - #0484c1
*/

.projectContainer{
  display:inline-grid;
  grid-template-columns: auto auto;
  padding: 5px;
  animation: appear 1s ease-in-out forwards;
}
.project {
  background-color: #9ed0de;
  color: black;
  border: 2px solid black;
  margin:auto;
  min-width: 450px;
  font-size: 1em;
  font-weight:normal;
  text-align: center;
  margin-bottom: inherit;
  width: auto;
  height:auto;
  margin: 5px;
}
.base{
  background-color: #9ed0de;
  color: black;
  border: 1px solid black;
  margin:auto;
  min-width: 400px;
  font-size: 1em;
  font-weight:normal;
  text-align: center;
  animation: expand .8s ease forwards;
}
.body {
  font-size: 1em;
  font-weight:normal;
  text-align: left;
  min-width: 380px;
  font-family: sans-serif;
  width: 95%;
  margin: auto;
  animation: appear 1s ease-in-out forwards;
}
.sec {
  text-align: center;
  margin: auto;
  width: 90%;
}
.footer{
  text-align: center;
  font-size: 1em;
  font-family: sans-serif;
}
.secheader{
  width: 100%;
  margin-bottom: 10px;
  min-width: 400px;
  animation: appear 1s ease-in-out forwards;
}
.secheadertext{
  font-size: 2em;
  color: white;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-family: sans-serif;
  font-weight: 400;
  background-color: #065d86;
  justify-content:center;
}
.img{
  border-radius: 50%;
  width: 25vw;
  height: auto;
  border: 1px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  animation: slideIn 1s ease-in-out forwards;
}
.logoSmall{
  border-radius: 50%;
  width: 7%;
  height: 70%;
  border: 1px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  min-width: 64px;

  margin: auto;
  margin-left: 7px;
  margin-right: 7px;
}
.logoFooter{
  border-radius: 50%;
  width: auto;
  height: 4%;
  border: 1px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  min-width: 64px;
  margin: auto;
  margin-left: 7px;
  margin-right: 7px;

}

/*For links and urls */
.link:link{
  color: blue;
  font-size: 100%;
}
.link:hover{
  color: green;
}
.link:visited{
  color: midnightblue;
}
.link:active{
  color: green;
}


/*NAVBAR*/
.navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  background-color: #065d86;
  width: 100%;
  min-width: 400px;

}
/*NAVBAR text*/
.navbarItem{
  display: block;
  background-color: inherit;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1.2em;
}
/*NAVBAR block*/
.navbarBlock{
  float: right;
  background-color: inherit;
  transition: 0.3s;
}
/*Navbar hover effect*/
.navbarBlock:hover{
  background-color: #0484c1;
}
.navbarBlockActive{
  display: inline-flex;
  vertical-align: top;
  background-color: inherit;
  background-color: #0484c1;
  max-width: 20%;
}
/*END navbar*/


/* Link block button - animated */
/* Base button */
.linkButton{
  margin: auto;
  padding: 0;
  text-align: center;
  background-color: #065d86;
  display:grid;
  cursor: pointer;
  margin: auto;
  margin-bottom: 16px;
  padding: 20px;
  width: 240px;
  height: auto;
  transition: all 0.5s;
  border:none;
  border-radius: 10px;
  animation: slideIn 1.5s ease-in-out forwards;
}
/*Hover color change*/
.linkButton:hover{
  background-color: #0484c1;
}
/*Button animation with text*/
.linkButton:hover span{
  padding-right: 30px;
  content: 'test';
}
.linkButton span{
  font-size: 1.6em;
  color: white;
  cursor: pointer;
 display: inline-block;
 position: relative;
 transition: 0.5s;
}
.linkButton span::after{
 content: '\00bb';
 position: absolute;
 opacity: 0;
 top: 0;
 right: -20px;
 transition: 0.5s;
}
.linkButton:hover span::after {
  opacity: 1;
  right: 0;
}
/*End Link Button */

/* Resume block button - animated */
/* Base button */
.resumeButton{
  margin: auto;
  padding: 0;
  text-align: center;
  background-color: #065d86;
  display:grid;
  cursor: pointer;
  margin: auto;
  margin-bottom: 16px;
  margin-top: 16px;
  padding: 20px;
  width: 320px;
  height: auto;
  transition: all 0.5s;
  border:none;
  border-radius: 10px;

  animation: slideIn 1.5s ease-in-out forwards;
}
/*Hover color change*/
.resumeButton:hover{
  background-color: #0484c1;
}
/*Button animation with text*/
.resumeButton:hover span{
  padding-right: 30px;
  content: 'test';
}
.resumeButton span{
  font-size: 1.6em;
  color: white;
  cursor: pointer;
 display: inline-block;
 position: relative;
 transition: 0.5s;
}
.resumeButton span::after{
 content: '\00ab';
 position: absolute;
 opacity: 0;
 top: 0;
 right: -20px;
 transition: 0.5s;
}
.resumeButton:hover span::after {
  opacity: 1;
  right: 0;
}
/*End Resume Button */

/* smallLinkButton block button - animated */
/* Base button */
.smallLinkButton{
  margin: auto;
  padding: 0;
  text-align: center;
  background-color: #065d86;
  display:inline;
  cursor: pointer;
  margin: auto;
  margin-bottom: 16px;
  margin-top: 16px;
  padding: 20px;
  width: 160px;
  height: auto;
  transition: all 0.3s;
  border:none;
  border-radius: 10px;
}
/*Hover color change*/
.smallLinkButton:hover{
  background-color: #0484c1;
}
/*Button animation with text*/
.smallLinkButton:hover span{
  padding-right: 30px;
  content: 'test';
}
.smallLinkButton span{
  font-size: 1.4em;
  color: white;
  cursor: pointer;
 display: inline-block;
 position: relative;
 transition: 0.3s;
}
.smallLinkButton span::after{
 content: '\00bb';
 position: absolute;
 opacity: 0;
 top: 0;
 right: -20px;
 transition: 0.5s;
}
.smallLinkButton:hover span::after {
  opacity: 1;
  right: 0;
}
/*End smallLinkButton Button */

/* Image Sliding Carrosel*/
.slider {
  width: 80%;
  min-width: 400px;
  height: auto;
  min-height: 400px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  margin:auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
animation: appear 1s ease-in-out forwards;
}
.slide > div {
scroll-snap-align: start;
}
.slide {
  width: 400px;
  flex-shrink: 0;
  height: auto;
  background-color: #4a8aa7;
  margin: 12px;
  border: 2px solid black;
  border-radius: 5%;
  scroll-behavior: smooth;
  transition: all 0.4s;

}
.slideItem {
  width: 90%;
  height: auto;
  border: 1px solid black;
  border-radius: 25%;
}
.slideItemHeader {
  color: white;
  text-align: center;
  font-size: 2em;
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: sans-serif;
}
.slideItemDesc {
  color: white;
  text-align: center;
  font-size: 1.35em;
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: sans-serif;
}
.slide:hover{
  transform: scale(1.05);
}
/* Image Sliding Carrosel*/

/* RIP GITHUB PHP FORM
#fcf-form {
    display:block;
}
form for contact
  .fcf-body {
      margin: 0;
      font-family: -apple-system, Arial, sans-serif;
      font-size: 1.1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      text-align: left;
      background-color: ##9ed0de;
      padding: 30px;
      padding-bottom: 10px;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      max-width: 100%;
  }
  .fcf-form-group {
      margin-bottom: 1rem;
  }
  .fcf-input-group {
      position: relative;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-align: stretch;
      align-items: stretch;
      width: 100%;
  }
  .fcf-form-control {
      display: block;
      width: 100%;
      height: calc(1.5em + 0.75rem + 2px);
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      outline: none;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .fcf-form-control:focus {
      border: 1px solid #313131;
  }
  select.fcf-form-control[size], select.fcf-form-control[multiple] {
      height: auto;
  }
  textarea.fcf-form-control {
      font-family: -apple-system, Arial, sans-serif;
      height: auto;
  }
  label.fcf-label {
      display: inline-block;
      margin-bottom: 0.5rem;
  }
  .fcf-credit {
      padding-top: 10px;
      font-size: 0.6rem;
      color: #545b62;
  }
  .fcf-credit a {
      color: #545b62;
      text-decoration: underline;
  }
  .fcf-credit a:hover {
      color: #0056b3;
      text-decoration: underline;
  }
  .fcf-btn {
      display: inline-block;
      font-weight: 400;
      color: #212529;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: transparent;
      border: 1px solid transparent;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: 0.25rem;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  @media (prefers-reduced-motion: reduce) {
      .fcf-btn {
          transition: none;
      }
  }
  .fcf-btn:hover {
      color: #212529;
      text-decoration: none;
  }
  .fcf-btn:focus, .fcf-btn.focus {
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  .fcf-btn-primary {
      color: #fff;
      background-color: #007bff;
      border-color: #007bff;
  }
  .fcf-btn-primary:hover {
      color: #fff;
      background-color: #0069d9;
      border-color: #0062cc;
  }
  .fcf-btn-primary:focus, .fcf-btn-primary.focus {
      color: #fff;
      background-color: #0069d9;
      border-color: #0062cc;
      box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }
  .fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
      padding: 0.5rem 1rem;
      font-size: 1.25rem;
      line-height: 1.5;
      border-radius: 0.3rem;
  }
  .fcf-btn-block {
      display: block;
      width: 100%;
  }
  .fcf-btn:hover span{
    padding-right: 30px;
    content: 'test';
  }
  .fcf-btn span{
    font-size: 1.4em;
    color: white;
    cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.3s;
  }
  .fcf-btn span::after{
   content: '\00bb';
   position: absolute;
   opacity: 0;
   top: 0;
   right: -40px;
   transition: 0.5s;
  }
  .fcf-btn:hover span::after {
    opacity: 1;
    right: 0;
  }
  /*form for contact*/


  @keyframes slideIn {
  0% {
    transform: translateX(300px) scale(.3);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes expand {
  0% {
    transform: translateX(600px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes appear{
  0% {
    transform: scale(0.4);
    opacity: 40%;
  }
  100% {
    transform: scale(1.0);
    opacity: 100%;
  }
}
