* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --secondary-color: #061c32;
  --contrast-color: #6925a1;
  --contrast-color-light: #7c31b9;
  --background-color: #340d54;
  --font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.body {
   min-height: 100%
  }
.html {
  height: 100%
}

.overlay {
  z-index: -10;
  background-color: var(--background-color);

  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  animation: expand .8s ease forwards;
  background-color: var(--secondary-color);
  position: relative;
  font-family: var(--font);
  transition: all .8s ease;
}
.container_content {
 width: 50%;
}
.container_content_inner {
  width: 90%;
  margin-left: 80px;
}
.container_outer_img {
  margin: 50px;
  width: 50%;
  overflow: hidden;
}
.container_img {
  width: 65%;
  animation: slideIn 1.5s ease-in-out forwards;
  border-radius: 50%;
  border: 1px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.par {
  height: auto;
  overflow: hidden;
}
.par p{
  line-height: 28px;
  transform: translateY(300px);
  animation: slideUp .8s ease-in-out forwards .8s;
}

.btns {
  height: 100%;
  position: relative;
  width: 150px;
  overflow: hidden;
}
.btns_more {
  background-color: rgba(105, 37, 161, 0.2);
  border: 2px solid var(--contrast-color-light);
  border-radius: 60px;
  padding: 10px 14px;
  color: #BF307F;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  margin-top: 8px;
  margin-bottom: 12px;
  outline: none;
  transform: translateY(75px);
  animation: slideUp .8s ease-in-out  forwards 1s;
}
/*Button - animated */
/*Hover color change*/
.btns_more:hover{
  background-color: var(--contrast-color);
}
/*Button animation with text*/
.btns_more:hover span{
  padding-right: 30px;
}
.btns_more span{
  cursor: pointer;
 display: inline-block;
 position: relative;
 transition: 0.5s;
 opacity: 100%;
}
.btns_more span::after{
 content: '\00ab';
 position: absolute;
 opacity: 0;
 top: 0;
 right: -20px;
 transition: 0.5s;
}
.btns_more:hover span::after {
  opacity: 1;
  right: 0;
}
/*End Button */
.title {
  overflow: hidden;
  height: auto;
}

h1 {
    font-size: 60px;
    color: var(--contrast-color);
    margin-bottom: 20px;
    transform: translateY(110px);
    animation: slideUp .8s ease forwards .5s;
}
h2 {
    font-size: 40px;
    color: var(--contrast-color);
    margin-bottom: 20px;

}

@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes expand {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
}

/*NAVBAR*/
.navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  background-color: var(--background-color);
  width: 100%;
  min-width: 400px;

}
/*NAVBAR text*/
.navbarItem{
  display: block;
  background-color: inherit;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1.2em;
}
/*NAVBAR block*/
.navbarBlock{
  float: right;
  background-color: inherit;
  transition: 0.3s;
}
/*Navbar hover effect*/
.navbarBlock:hover{
  background-color: var(--contrast-color);
}
.navbarBlockActive{
  display: inline-flex;
  vertical-align: top;
  background-color: var(--contrast-color);
  max-width: 20%;
}
/*END navbar*/

.img{
  border-radius: 50%;
  width: 25vw;
  height: auto;
  border: 1px solid var(--secondary-color);
  border-right: 5px solid var(--secondary-color);
  border-bottom: 5px solid var(--secondary-color);
  animation: slideIn 1s ease-in-out forwards;
}
.logoSmall{
  border-radius: 50%;
  width: 7%;
  height: 70%;
  border: 1px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  min-width: 64px;

  margin: auto;
  margin-left: 7px;
  margin-right: 7px;
}
.logoFooter{
  border-radius: 50%;
  height: 2%;
  border: 1px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  min-width: 24px;
  margin: auto;

}

.container-small {
  display: flex;
  height: 20vh;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  animation: expand .8s ease forwards;
  background-color: var(--secondary-color);
  position: relative;
  font-family: var(--font);
  transition: all .8s ease;
}
.containerContainer{
  display:grid;
  align-items: center;
}

.container_projects {
  display: flex;
  height: 110vh;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  animation: expand .8s ease forwards;
  position: relative;
  font-family: var(--font);
  transition: all .8s ease;

}

.backgroundOverlay{
  background-image: url("Images/Aquacat.jpg");
  background-position: scroll;
  background-size: 100%;
  min-height: 300px;

  background-repeat: repeat;
  z-index: -9;
  animation: expand .8s ease forwards;
  background-attachment: fixed;
}
.backgroundOverlay::after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(30, 30, 80, 0.75);
    z-index: -9;
  }


.container_outer_grid {
  margin: 50px;
  width: 50%;
  overflow: hidden;
  display:inline-grid;
  grid-template-columns: auto auto auto;
  padding: 5px;
  animation: appear 1s ease-in-out forwards;
  color: white;
  z-index: 2;
}
.grid-container{
    height: auto;
    overflow: hidden;
    margin-bottom: 15px;
    cursor:pointer;
}
.grid-container:hover{
  transition: 1.2s;
  transform: translateX(30px) scale(1.1);
  z-index: 10;
}
.grid-title{
  font-size: 26px;
  color: var(--contrast-color-light);
}
.grid-desc{
  margin-bottom: 10px;
  color: white;
}

.containerContainer_projects{
  display: inline-grid;
  align-items: center;
  grid-template-columns: auto auto;
}
.wr{

}
.wr_proj{

margin:auto;
color:red;
width: 40%;
margin-left: 30px;
background-color: lightgreen;
}
.proj_title{
  font-size: 22pt;
}
.proj_row_wrapper{
    padding: 20px;
    min-height: 86vh;
    align-content: items;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: auto auto;
}
.proj_wrapper{
  width: 94%;
  min-height: 90%;
  float: left;
  border: 2px solid red;
  margin: 20px;
  border: 1px solid red;
  color: white;
  font-family: var(--font);
  background-color: var(--secondary-color);
}

.proj_title_wrapper{
  width: 80%
  min-height: 10vh;
  border: 2px solid red;
  margin: 5px;

}

.proj_title_wrapper h2{
  margin: 5px;
  margin-left: 10px;
}

.proj_img_wrapper{
  width: 80%
  background-color: red;
  min-height: 40vh;
  border: 2px solid red;
  margin: 5px;
}
.proj_img_wrapper img{
  margin: 20px;
  margin-left: 35px;
}

.proj_desc{
  width: 80%
  background-color: red;
  min-height: 20vh;
  border: 2px solid red;
  margin: 5px;
}
.proj_desc p{
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.proj_img{
  width: 90%;
  height: auto;
  border: 2px solid var(--contrast-color);
  border-radius: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.c1{
  padding: 20px;
  min-height: 150vh;
  align-content: items;
  display: grid;
  grid-template-columns: auto auto;
  background-color: var(--secondary-color);
  font-family: var(--font);
}

.c2{
  padding: 20px;
    margin-right: 500px;
  width: 85%

}

.c3{
  overflow: hidden;
  height: auto;
  padding-left: 20px;
color: white;
}
.c4{
height: 20%;
}
.c3 p{
  line-height: 28px;
  font-size: 20px;
  transform: translateY(300px);
  animation: slideUp .8s ease-in-out forwards .8s;
}
.c5{
  display: inline;
  height: 100%;
}

.c3 img{
  width: 50%;
}
.footer{
  text-align: center;
  color: white;
}
