.modifier_button {
  width: 10vw;
  left: 50%;
  background-color: var(--color-button);
}

.darkModeButton {
  background-color: var(--color-button);
}

.darkModeText
{
    color: var(--color-font);
    font-size: x-large;
    margin-bottom: 0;
}

.darkModeText_Description
{
    color: var(--color-font_contrast);
    margin-bottom: 0;
}

.modifier_descbox
{
    color: var(--color-font);
    border-radius: 0.5vw solid var(--color-main);
    padding: 2vw;
    padding-bottom: 0;
    padding-top: 0;
    margin: 2vw;
    margin-bottom: 0;
    text-overflow: ellipsis;
    max-width: 80vw;
}

.modifier_hr
{
    border: 1px solid var(--color-font_contrast);
    margin: 3vw;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    max-width: 90vw;
}

.modifier_modal_container {
  height: 70vh;
  overflow-y: auto;
}

.modifier_modal_copybutton {
  max-width: 25vw;
  white-space: normal;
  margin-bottom: 1%;
}

.modifier_modalcard {
  border: var(--color-main) 2px solid;
  margin: 1%;
  border-radius: 5%;
}

.modifier_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modifier_shelf {
  margin: 1vw;
  width: fit-content;
}

.modifier_card {
  width: 15vw;
  max-width: 210px;
  height: max-content;
  font-size: 1.1vw;
  background-color: var(--color-accent);
  color: var(--color-font);
}

.style_modalimg {
  width: 320px;
  height: auto;
  margin-top: 1%;
}

.modifierdropdown_wrapper
{
  overflow-y: auto;
  max-height: 40vh;
}

@media only screen and (max-width: 768px) {
  .modifier_button {
    width: 20vw;
    font-size: 3vw;
  }

  .modifier_card {
    width: 35vw;
    height: fit-content;
    font-size: 3vw;
    display: inline-block;
  }

  .modifier_cardTitle {
    font-size: 5vw;
  }

  .modifier_shelf {
    margin: 1vw;
    width: 100vw;
  }

  .modifier_modal_copybutton {
    max-width: 60vw;
    white-space: normal;
    margin-bottom: 1%;
  }
}
