<!DOCTYPE html>


<html lang="en-US">

<!-- HEADER================= -->

<head>
  <title> Rex's Website </title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="shortcut icon" type="image/svg" href="/Images/RW-Logo.svg" />
  <script src="https://kit.fontawesome.com/7ee27ad3c6.js" crossorigin="anonymous"></script>
</head>
<!-- HEADER================= -->

<body class="background">

  <div class="spacing"></div>
  <!-- NAVBAR ------------------------>
  <div class="navbar">
    <ul class="navbar">
      <li class="navbarBlockActive"><a class="navbarItem">Rex Wang</a></li>
      <li class="navbarBlock"><a class="navbarItem" href="/index.html">Home </a></li>
      <li class="navbarBlock"><a class="navbarItem" href="/Projects/siteinfo.html">This Site </a></li>
      <li class="navbarBlock"><a class="navbarItem" href="/Projects/Devlogs/Project_ToC.html"><i class="fas fa-hammer"></i> Devlogs</a></li>
    </ul>
  </div>
  <!-- ENDNAVBAR ------------------>


  <div class="wrapper">
    <div class="center">
      <h1> Project template - Devlog 0 </h1>
      <div class="infobox">
        <div class="infobox-left">
          <h4>Date: 2/22/2022</h4>
          <h4>Timespan: 2/22/2022</h4>
          <h4>Author: Rex Wang</h4>
        </div>

        <div class="infobox-right">
          <a class="link" href="#Topic1" target="_blank" rel="noopener noreferrer">Next Devlog</a>
          <br>
          <a class="link" href="#Topic2" target="_blank" rel="noopener noreferrer">Project Home</a>
          <br>
          <a class="link" href="#Topic3" target="_blank" rel="noopener noreferrer">Previous Devlog</a>
        </div>
        
      </div>
      <img class="fullimg" src="/Images/Aquacat.jpg">
      <br>
      <div>
        <ul style="list-style-type:square; line-height:110%">
          <li> <a class="link" onClick="location.href='#Topic1'" target="_blank" rel="noopener noreferrer">Topic 1: Some text</a></li>
          <li> <a class="link" onClick="location.href='#Topic2'" target="_blank" rel="noopener noreferrer">Topic 2: Some more text</a></li>
        </ul>
      </div>

      <div class="textleft" id="Topic1">
        <h2>Topic 1 - something</h2>
        <img class="halfimg" src="/Images/Aquacat.jpg">
        <h4>Problem: </h4>
        <p>Something</p>
        <br>
        <h4>Solution: </h4>
        <p>Something</p>

        <pre><code class = language-cs>
          int a = 2;
          Console.Log("Hello World!");
          Console.Log("{a}  Hello World!");
        </code></pre>

        <pre><code class = language-html>
           &lt;div&gt;
            &lt;h3&gt;  Link Goes here. --> &lt;/h3&gt;
            &lt;h3&gt;  Link Goes here. --> &lt;/h3&gt;
            &lt;h3&gt;  Link Goes here. --> &lt;/h3&gt;
            &lt;br&gt;
            &lt;/div&gt;
        </code></pre>
      </div>
      <br>
      <div class="textleft" id="Topic2">
        <h2>Topic 2 - something</h2>
        <img class="halfimg" src="/Images/Aquacat.jpg">
        <h4>Problem: </h4>
        <p>Something</p>
        <br>
        <h4>Solution: </h4>
        <p>Something</p>

        <pre><code class = language-cs>
          int a = 2;
          Console.Log("Hello World!");
          Console.Log("{a}  Hello World!");
        </code></pre>

        <pre><code class = language-html>
           &lt;div&gt;
            &lt;h3&gt;  Link Goes here. --> &lt;/h3&gt;
            &lt;h3&gt;  Link Goes here. --> &lt;/h3&gt;
            &lt;h3&gt;  Link Goes here. --> &lt;/h3&gt;
            &lt;br&gt;
            &lt;/div&gt;
        </code></pre>
      </div>
      <br>


      
      <div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    
    var disqus_config = function () {
    this.page.url = devlogtemplate.html;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = devlogtemplate; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://rexwang8.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
  </div>


  <script src="main.js"></script>

  <!--Highlight.js-->
  <link rel="stylesheet" href="/highlight.js/styles/base16/espresso.min.css">
  <script src="/highlight.js/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
  
  <!--Disqus
  <script id="dsq-count-scr" src="//rexwang8.disqus.com/count.js" async></script>
  -->
</body>