.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color-accent);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (min-width: 769px) {
  .aspect
{
  aspect-ratio: 16/9;
  height: 100vh;
  background-color: var(--color-main);
  justify-content: center;
  margin: auto;
  overflow-x: hidden;
}
.generatorestext
{
  font-size: 2vh;
}
}
@media only screen and (max-width: 768px) {
  .aspect
  {
    height: 100vh;
    width: auto;
    background-color: var(--color-main);
    justify-content: center;
    margin: auto;
    overflow-x: hidden;
  }
  .generatorestext
{
  font-size: 2.25vh;
}
}


.bg1{
  background-color: var(--color-main);
  height: fit-content;
}

.bg2{
  background-image: url(./assets/images/1049.png);
  background-color: rgba(30,30,45,0.5);
}

.mainFace{
  text-align: center;
  margin: auto;
  justify-content: center;
}

.mainPFP
{
  border-radius: 10%;
}

.mainTXT
{
  color: grey;
  font-size: large;
}
.mainTXTTitle
{
  color: grey;
  font-size: x-large;
}

.mainTXTW
{
  padding: 5vw;
}

.mainPDFW
{
  background-color: #282c34;
  margin-top: 10vh;
  margin-bottom: 10vh;
  
}

.profileW{
  margin: 1.5vw;
}

.aboutMeW
{
  margin-top: 10vh;
  margin-right: 10vw;
  line-height: 3.2vh;
}

.accordion-button
{
  width: 90%;
  box-shadow: none;
  appearance: button;
  border-color: #e9ecef #e9ecef #dee2e6;
}

.iconButton{
  background-color: var(--color-accent);
  border-radius: 1vw;
  color: black;
  font-size: 2.5vh;
  justify-content: center;
  margin: auto;
  text-align: center;
  margin: 10%;
  display: inline-block;
}

.teapot
{
  height: 110px;
  width: auto;
}

.accordCenter
{
  justify-content: center;
  margin: auto;
  text-align: center;
}

.textAICenter
{
  justify-content: center;
  margin: auto;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
}

.styleDivide
{
  justify-content: center;
  margin: auto;
  text-align: center;
  display: block;
}
.teapotExample
{
  justify-content: center;
  justify-self: center;
  justify-items: center;
  margin: auto;
  text-align: center;

  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  margin-top: 3%;
}

.footer
{
  padding-top: 7vh;
  padding-bottom: 3vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

.teapotlarge
{
  height: 192px;
  width: auto;
}
.projectpageimg
{
  width: 40vw;
  height: auto;
}

.home_t1
{
  color: var(--color-accent);
  font-size: 10vh;
  font-family: "Rubik",sans-serif;
  margin: 0;
  text-transform: uppercase;

}

.home_twrap
{
  width: 65%;
  margin: auto;
  text-decoration: none;
  
}
.home_twrap a {
  text-decoration: none;
  color: var(--color-accent);
}


.home_tline
{
  display: flex;
  justify-content: space-between;
}

.home_tword
{
  color: var(--color-accent);
  font-size: 9vh;
  font-family: "Rubik",sans-serif;
  margin: 0;
  text-transform: uppercase;
  text-decoration: none;
  transition: opacity 250ms ease;
}
#home_twrap:has(.home_tfancyword:hover) .home_tword:not(.home_tfancyword:hover) {
  opacity: 0.2;
}

.home_tfancyword:hover{
  transform: scale(1.06);
  transition: transform 600ms ease;
}

.about_h2
{
  font-size: 7vh;
  font-weight: bold;
  font-family: "Rubik",sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-accent);
  color: white;
  margin: auto;
  width: 50%;
  text-align: center;
}
.about_p
{
  font-size: 2vh;
  font-family: "Rubik",sans-serif;
  text-decoration: none;
  color: var(--color-accent);
  color: white;
  margin: auto;
}

.contact_link
{
  font-size: 3.5vh;
  font-family: "Rubik",sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-accent);
  color: white;
  margin: auto;
  width: 50%;
  text-align: center;
}



.highlight
{
  background-color: red;
}

.fix_teapots
{
  color: white;
}